<form class="search_form">
  <label for="content">内容：</label><input type="text" name="content">
  <label for="search_type">类型：
  <select name="search_type">
    <option value="content">content</option>
    <option value="point">point</option>
    <option value="tag">tag</option>
    <option value="keyword">keyword</option>
  </select>
  </label>
  <button type="button" class="btn btn-primary search">search</button>
</form>

<div class="paginate_table">
  <%= render "paginate_table", jokes: @jokes %>
</div>

<script>
  $(function(){
    $(".paginate_table").on("click", ".edit_joke_btn", function(event){
      var joke_id = $(event.currentTarget).closest('tr').data('joke-id');
      BootstrapDialog.show({
        title: 'edit joke',
        message: $('<div>').load('/jokes/'+ joke_id +'/edit'),
        onshown: function(dialog){
          dialog.$modalBody.find('#joke_point').focus().select();
          dialog.$modalBody.find('form').on("keyup keypress", function(event){
            var keyCode = event.keyCode || event.which;
            if (keyCode === 13) {
              event.preventDefault();
              dialog.$modalFooter.find(".btn-primary").trigger('click');
              return false;
            }
          });
        },
        buttons: [{
            label: 'cancle',
            cssClass: 'btn btn-default',
            action: function(dialog) {
              dialog.close();
            }
        }, {
            label: 'confirm',
            cssClass: 'btn btn-primary',
            action: function(dialog) {
              $.ajax({
                url: "/jokes/" + joke_id,
                type: "PUT",
                dataType: "json",
                data: {
                  content: $("#joke_content").val(),
                  point: $("#joke_point").val(),
                  tag_ids: $(".edit_joke input:checkbox:checked").map(function(){return $(this).val();}).get()
                },
                success: function(resp){
                  if (resp.return_code === 0) {
                    reloadCurrentPage();
                  } else{
                    console.error("update joke fail!");
                  }
                },
                error: function(){
                  console.error("update joke fail!");
                },
                complete: function(){
                  dialog.close();
                }
              });
            }
        }]
      });
    });
    
    $(".paginate_table").on("click", ".delete_joke_btn", function(event){
      var joke_id = $(event.currentTarget).closest('tr').data('joke-id');
      BootstrapDialog.show({
        title: 'delete joke',
        message: 'Are you sure?',
        buttons: [{
            label: 'cancle',
            cssClass: 'btn btn-default',
            action: function(dialog) {
              dialog.close();
            }
        }, {
            label: 'delete',
            cssClass: 'btn btn-primary',
            action: function(dialog) {
              $.ajax({
                url: "/jokes/" + joke_id,
                type: "DELETE",
                dataType: "json",
                success: function(resp){
                  if (resp.return_code === 0) {
                    reloadCurrentPage();
                  } else{
                    console.error("delete joke fail!");
                  }
                },
                error: function(){
                  console.error("delete joke fail!");
                },
                complete: function(){
                  dialog.close();
                }
              });
            }
        }]
      });
    });

    $(".search").on("click", function(event){
      var content = $(".search_form input[name='content']").val();
      var type = $(".search_form select[name='search_type']").val();
      searchJokes({
        content: content,
        type: type
      });
    });

    $(".search_form").on("keyup keypress", function(event){
      var keyCode = event.keyCode || event.which;
      if (keyCode === 13) {
        event.preventDefault();
        $(".search").trigger('click');
        return false;
      }
    });

    function reloadCurrentPage(){
      var currentPage = parseInt($('.pagination .page.current').text(),10);
      var content = $(".search_form input[name='content']").val();
      searchJokes({
        page: currentPage,
        content: content
      });
    }

    function searchJokes(params){
      $.ajax({
        url: "/jokes/search",
        type: "GET",
        dataType: "script",
        data: params
      });
    }


  });
</script>